[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
python-language-server = {extras = ["all"],version = "*"}
line-profiler = "*"
pytest = "*"
twine = "*"
wheel = "*"
setuptools = "*"
flake8 = "*"
Sphinx = "*"
sphinx-autobuild = "*"
pytest-cov = "*"
gym-fin = {editable = true,path = "."}

[packages]
numpy = "*"
gym = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"

[requires]
python_version = "3.6"
