[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
python-language-server = {extras = ["all"],version = "*"}
#line-profiler = "*"
#cython = "*"
#line-profiler = {git = "https://github.com/rkern/line_profiler"}
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
twine = "*"
wheel = "*"
setuptools = "*"
#flake8 = "*"
#Sphinx = "*"
#sphinx-autobuild = "*"
gym-fin = {editable = true,path = "."}
#black = "==19.3b0"
matplotlib = "*"
seaborn = "*"
#stable-baselines = {extras = ["mpi"],version = "*"}
tensorflow = "*"

[packages]
numpy = "*"
gym = "*"
pandas = "*"

[requires]
python_version = "3.6"
